<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>实习面试总结.md</string>
		</array>
		<array>
			<string>getting-start.md</string>
		</array>
		<array>
			<string>git-hook.md</string>
		</array>
		<array>
			<string>Go-碎碎念.md</string>
		</array>
		<array>
			<string>python印象-三.md</string>
		</array>
		<array>
			<string>python印象-二.md</string>
		</array>
		<array>
			<string>python印象.md</string>
		</array>
		<array>
			<string>关于自由和梦想.md</string>
		</array>
		<array>
			<string>scala学习笔记.md</string>
		</array>
		<array>
			<string>super继承.md</string>
		</array>
		<array>
			<string>python新式类与旧式类.md</string>
		</array>
		<array>
			<string>python-descriptor.md</string>
		</array>
		<array>
			<string>Hbase学习.md</string>
		</array>
		<array>
			<string>信仰和人性.md</string>
		</array>
		<array>
			<string>愚民性教育.md</string>
		</array>
		<array>
			<string>2015读书总结.md</string>
		</array>
		<array>
			<string>2015个人总结.md</string>
		</array>
		<array>
			<string>hmm三种求法公式推导.md</string>
		</array>
		<array>
			<string>神经网络一——综述.md</string>
		</array>
		<array>
			<string>神经网络-二-从感知机到BP.md</string>
		</array>
		<array>
			<string>神经网络-ReLU，cross-entropy-and-softmax.md</string>
		</array>
		<array>
			<string>神经网络-CNN.md</string>
		</array>
		<array>
			<string>神经网络-RNN.md</string>
		</array>
		<array>
			<string>稀疏表示.md</string>
		</array>
		<array>
			<string>简谈L0-L1和L2.md</string>
		</array>
		<array>
			<string>漫谈大数定律.md</string>
		</array>
		<array>
			<string>possion-process.md</string>
		</array>
		<array>
			<string>finite-state-markov-chain.md</string>
		</array>
		<array>
			<string>互质整数的最大不能表示数.md</string>
		</array>
		<array>
			<string>replace.sh</string>
		</array>
		<array>
			<string>sed-多行问题.md</string>
		</array>
		<array>
			<string>renewal-process.md</string>
		</array>
		<array>
			<string>debug.log</string>
		</array>
		<array>
			<string>countable-state-markov-chain.md</string>
		</array>
		<array>
			<string>2016-3月总结.md</string>
		</array>
		<array>
			<string>machine-learning-的采样和模拟.md</string>
		</array>
		<array>
			<string>markov-process.md</string>
		</array>
		<array>
			<string>random-walk.md</string>
		</array>
	</array>
</dict>
</plist>
